
    /* Project Name: Weather app 
    Description: This application is base on smart watch we have try to put some of the feature's
    of smart watch
    language: HTMl,CSS,JS,bootsrap(framework)
    Author: Shaik Mudassir
    Github: https://github.com/shaik80 */

*{
    overflow-y: scroll;
}

:root{
    --color-base-1:#C4C4C4;
    --color-base-2:#000000;
    --color-blue:#1394f6;
    --color-primary:#12e6c8;
    --color-secondary:#a287f4;
    --color-white:#fafafa;
}
.background-design{
    background-color:var(--color-blue);
    height: 100vh;
}
/* description css */
.main .description{
    padding: 5em;
}
.paragraph{
    font-size: 0.60em;
}
.task-heading{
    font-family: sans-serif;
}
.top-margin{
    margin-top: 6em;
    margin-left: 1.5em;
}
/* main-container */

.main-container{
    background-color:var(--color-white);
    height: 100vh;
}


.watch-belts-end{
    border-radius: 0 0 0px 0px;
}
.watch-belts-2{
    background: var(--color-base-2);
    height: 75px;
    margin-left: 3.8em;
    width: 219px;
}
.watch-frame{
    background: #393E46;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
    height: 300px;
    margin-left: 2em;
    width: 277px;
}
.watch-screen{
    background-size: 100%;
    border-radius: 36px;
    height: 267px;
    margin-left: 1.2em;
    margin-top: 1em;
    position: absolute;
    width: 237px;
}
.watch-screenlock{
    background-color:var(--color-base-2);
    border-radius: 36px;
    background-size: 100%;
    height: 267px;
    position: absolute;
    width: 237px;    
}
.watch-screen-copy{
    position: absolute;
    margin-left: 0em;
    width: 237px;
    height: 267px;
    background-color:var(--color-base-2);
    background-size: 100%;
    border-radius: 36px;
}
.round-icon{
    margin-left: 1em;
    margin-bottom: 0.5em;
    width: 32px;
    height: 31px;
    background: var(--color-base-2);
    border-radius: 50%;
    display: inline-block;
}
.far,.fas{
    margin-top: 0.35em;
    margin-left: 0.4em;
    color: var(--color-base-1);
    font-size:1em
}
.fa-clock{
    margin-top: 0.45em;
    margin-left: 0.5em;
}
.display-border{
    position: absolute;
    width: 237px;
    height: 222px;
    background-color: var(--color-base-2);
    /* border: 0.5px solid var(--color-primary); */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 36px;    
}
.time{
    position: absolute;
    color: #ffffff;
    margin-left: 2em;
    margin-top: 3em;
}

.time h1{
    font-size: 4.7em;
}
.day{
    margin-bottom: -16px;
    font-size: 1.5em;
    color: var(--color-primary);
}
#session{
    margin-top: -0.6em;
}
.round-icon:hover{
    transition: 0.8s;
    width: 37px;
    height: 36px;
    background-color: var(--color-blue);   
    border-radius: 50%;

}
#timer .timer-countdown{
    color: var(--color-primary)
}
.fa-lock{
    color: var(--color-primary);
    font-size: 9em;
}
iframe{
    border-radius: 36px;
    border-color: var(--color-base-2)
}
.timer-countdown{
    margin-bottom: 30%;
    font-size: 3.5em;
}
#timer .far,
#timer .fas{
    font-size: 2.2em;
}
.header{
    margin-bottom: 5%;
    width: 236px;
    height: 61px;
    background: var(--color-white);
    border-radius: 36px;
}
.footer{
    width: 233px;
    height: 51px;
    margin-top: 46%;
    background: var(--color-white);
    border-radius: 36px;
}
.sender{
    position: absolute;
    
    width: 140px;
    height: 41px;
    background: var(--color-base-1);
    border-radius: 13px;
}

.receiver{
    position: absolute;
    margin-top: 20%;
    margin-left: 40%;
    width: 140px;
    height: 41px;
    background: var(--color-base-1);
    border-radius: 13px;
}
.contact-name{
    font-weight: bold;
    font-size: 1.1em;
}
.contact-number{
    font-weight: 460;
    font-size: .95em;
}
.footer-input{
    width: 190px;
    height: 51px;

    background: var(--color-white);
    border-radius: 36px 0px 0px 36px;
}
.footer-button{
    background: var(--color-white);;
    height: 51px;
    width: 44px;
    margin-left: -6px;
    border-radius: 0px 24px 24px 0px;
}
.fa-paper-plane{
    color: var(--color-base-2)
}
.notification-message{
    margin: 1em;
    width: 196px;
    height: 42px;
    font-weight: 500;
    background: var(--color-white);;
    /* border: 1.5px solid var(--color-primary); */
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 13px;
}
.lap{
    margin-top: -1em;
    color: var(--color-base-1);
}
/* .firstcharacter-name{
    color: var(--color-base-1);;
    margin-left: 9.5em;
    width: 36px;
    height: 38px;
    background: #00ADB5;
    border-radius: 50px;
}
.firstcharacter{
    margin-left: .2em;
} */
/* 233px; */
/* .watch{
    margin-left: 1em;
}
.circle-icon:hover{
    fill: #00adb5; 
}*/