:root{
    --color-blue:#1394f6;
    --color-white:#fafafa;
}
.description{
    background-color:var(--color-blue);
    height: 100vh;
    padding: 10em;
}
.main-container{
    background-color:var(--color-white);
    height: 100vh;
}
.paragraph .text-white{
    
    font-size: 0.66em;
}
.task-heading{
    font-family: sans-serif;
}
.watch-belts-1{
    margin-left: 3.8em;
    width: 219px;
    height: 43px;
    background: #C4C4C4;
}
.watch-belts-2{
    margin-left: 3.8em;
    width: 219px;
    height: 75px;
    background: #222831;
}
.watch-frame{
    margin-left: 2em;
    width: 277px;
    height: 300px;    
    background: #393E46;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 36px;
}
.watch-screen{
    position: absolute;
    margin-top: 1em;
    margin-left: 1.2em;
    width: 237px;
    height: 267px;
    background: url(../img/me.jpg), #FFFFFF;
    border-radius: 36px;
}
.round-icon{
width: 32px;
height: 31px;
background: #393E46;
border-radius: 50%;
display: inline-block;
}
/* .watch{
    margin-left: 1em;
}
.circle-icon:hover{
    fill: #00adb5; */
}